<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% url "webapp.views.profile.login" as login_url %}
	<form class="well span3 offset4" action="{{login_url}}?only_inherit_redirect=1{% if request.GET.redirect %}&redirect={{request.GET.redirect}}{% endif %}" method="post"> {% csrf_token %}
		<div class="row">
			<div class="span3"><input class="span3" type="text" name="username" id="username" placeholder="Username" autofocus="autofocus" /></div>
		</div>
		<br />
		<div class="row">
			<div class="span3"><input class="span3" type="password" name="password" id="password" placeholder="Password" /></div>
		</div>
		<br />
		<div class="row">
			<div class="span2 offset1"><input class="btn btn-large btn-block btn-success" style="width: inherit;" type="submit" value="Login" /></div>
		</div>
	</form>
	<br /><br />
	{% url "webapp.views.site.access" as access_url %}
	<form class="well span3 offset4" action="{{access_url}}" method="post"> {% csrf_token %}
		<div class="row">
			<div class="span3"><input class="span3" type="password" name="access_password" id="access_password" placeholder="Password" /></div>
		</div>
		<br />
		<div class="row">
			<div class="span2 offset1"><input class="btn btn-large btn-block btn-success" style="width: inherit;" type="submit" value="Access" /></div>
		</div>
	</form>
	{% include 'includes/footer.html' %}
</body>
</html>
