<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	<div class="row well">
		{% if associations %}
			<h3>Your recent activity</h3>
			<ul>
				{% for association in associations %}
					{% url "webapp.views.movie.view" urltitle=association.ConsumeableId.UrlTitle as movie_url %}
					<li>{{association.UpdatedAt}} - <a href="{{movie_url}}">{{association.ConsumeableId.Title}}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>Hello there</h3>
			<p>Register or login to get this party started.</p>
		{% endif %}			
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>
