<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	<p>You may give Pref personal information about you, such as your name, your contact email, and other details on various places on Pref. This privacy policy describes how Pref collects and uses your personal information.</p>

	<p>How and where Pref collects personal information:</p>

	<p>
		- user registration<br />
		- profile settings<br />
		- etc ...
	</p>

	<p>How Pref uses your personal information:</p>

	<p>The information you give Pref is absolutely safe. Pref will never rent, sell, share, or otherwise disclose your personal information to third parties. Pref might contact you from time to time regarding updates to the site.</p>

	<p>You may also opt out from receiving information from Pref at any time and remove your contact information from Pref databases by deleting your profile or changing your email.</p>

	{% url webapp.views.site.about as about_url %}
	<p>Use of the term Pref on this page refers to the owners and operatoes of Pref found <a href="{{about_url}}">here</a>.</p>
	{% include 'includes/footer.html' %}
</body>
</html>
