<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' with dnd='True' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	
	{% if movies or unranked_movies %}
		<script language="javascript" type="text/javascript">
			var setPieconProgress = function() {
				Piecon.setProgress((($("li[id]").length - $("li[id^=u]").length) / $("li[id]").length) * 100);
			};
			$(document).ready(function() {
				setPieconProgress();
			});
		</script>
		<div class="row">	
			<ul id="sortable" class="connected sortable">
				{% for movie in movies %}
					<li draggable="true" id="{{movie.id}}">{{forloop.counter}}. {{movie.Title}} ({{movie.Year}})</li>
				{% endfor %}
				{% if not movies %}
					<li draggable="true" id="placeholder">Placeholder (Drag First Ranked Item Above This Item From List Below)</li>
				{% endif %}
			</ul>
			<ul id="unranked_sortable" class="connected sortable">
				{% for movie in unranked_movies %}
					<li draggable="true" id="u{{movie.id}}">Unranked: {{movie.Title}} ({{movie.Year}})</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
			<div class="span1 offset1">
				<a class="btn btn-large btn-block btn-success" href="#" onclick="saveArrangableNodes();return false">Save</a>
				{% url "webapp.views.profile.view" username=profile.Username as profile_url %}
				<form id="rankForm" action="{{profile_url}}?rank=1" method="post"> {% csrf_token %}
					<input type="hidden" id="hiddenMovieIds" name="hiddenMovieIds">
				</form>
			</div>
			<div class="span2">
				<a class="btn btn-large btn-block btn-success" href="{{profile_url}}?movies=1">Full Listings</a>
			</div>
		</div>
	{% else %}
		{% url "webapp.views.site.discovery" as discovery_url %}
		<big>No movies ranked. You should <a href="{{discovery_url}}">Find Movies</a> to populate this page.</big>
	{% endif %}

	{% include 'includes/footer.html' with dnd='True' piecon='True' %}
</body>
</html>
