<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include "includes/navbar.html" %}
	{% include 'includes/header.html' %}
	{% if error %}
		<div class="alert alert-error">
			Username or Password not correct
		</div>
	{% elif lockout_error %}
		<div class="alert alert-error">
			Account locked, contact administrator
		</div>
	{% endif %}
	{% url "webapp.views.profile.login" as login_url %}
	<form class="well" action="{{login_url}}{% if request.GET.redirect %}?redirect={{request.GET.redirect}}{% endif %}" method="post"> {% csrf_token %}
		<div class="input-prepend row">
			<div class="span4 offset2"><span class="add-on"><i class="icon-user"></i></span><input class="span3" type="text" name="username" id="username" placeholder="Username" autofocus="autofocus" /></div>
		</div>
		<br />
		<div class="input-prepend row">
			<div class="span4 offset2"><span class="add-on"><i class="icon-lock"></i></span><input class="span3" type="password" name="password" id="password" placeholder="Password" /></div>
		</div>
		<br />
		<div class="row">
			<div class="span2 offset2"><input class="btn btn-large btn-block btn-success" type="submit" value="Login" /></div>
		</div>
		<br />
		<div class="row">
			<div class="span4 offset2">
				{% url "webapp.views.profile.register" as register_url %}
				<p>Not a member? <a href="{{register_url}}">Sign Up</a></p>
			</div>
		</div>
	</form>
	{% include 'includes/footer.html' %}
</body>
</html>
