<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	
	{% if movies or unranked_movies or unseen_movies %}
		{% if profile.id == request.session.auth_profile_id %}
			<div class="row">
				<div class="span8">
					<a class="btn btn-large btn-block btn-success" href="{{profile_url}}?rank=1">Drag and Drop Rank</a>
				</div>
			</div>
		{% endif %}
		<br />
		<table class="table table-striped table-hover">
			{% if movies %}
				<tr>
					<th class="span1">Rank</th>
					{% if own_watched or own_unseen %}
						<th class="span5">Movie</th>
						<th class="span1">Me</th>
					{% else %}
						<th class="span6">Movie</th>
					{% endif %}
				</tr>
				{% for movie in movies %}
					<tr>
						<td>{{forloop.counter}}</td>
						{% url "webapp.views.movie.view" urltitle=movie.UrlTitle as movie_url %}
						<td><a href="{{movie_url}}">{{movie.Title}} ({{movie.Year}})</a></td>
						{% if movie.id in own_watched %}
							<td>Watched</td>
						{% elif movie.id in own_unseen %}
							<td>Want to See</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% endif %}
			{% if unranked_movies %}
				<tr>
					<th colspan="2">Unranked ({{unranked_movies|length}} titles)</th>
				</tr>
				{% for movie in unranked_movies %}
					<tr>
						{% url "webapp.views.movie.view" urltitle=movie.UrlTitle as movie_url %}
						<td colspan="2"><a href="{{movie_url}}">{{movie.Title}} ({{movie.Year}})</a></td>
						{% if movie.id in own_watched %}
							<td>Watched</td>
						{% elif movie.id in own_unseen %}
							<td>Want to See</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% endif %}
			{% if unseen_movies %}
				<tr>
					<th colspan="2">Want To See ({{unseen_movies|length}} titles)</th>
				</tr>
				{% for movie in unseen_movies %}
					<tr>
						{% url "webapp.views.movie.view" urltitle=movie.UrlTitle as movie_url %}
						<td colspan="2"><a href="{{movie_url}}">{{movie.Title}} ({{movie.Year}})</a></td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
		<div class="row">
			<div class="span8">
				<a id="export-btn" class="btn btn-large btn-block btn-success" href="{{profile_url}}?export=1">Export List for Letterboxd</a>
				<script type="text/javascript">
					jQuery("#export-btn").popover({placement: 'top', trigger: 'hover', title: 'EXPORT', content: 'Generate and download a csv file to use for importing into letterboxd. All films will be marked as watched due to the implementation by letterboxd. All unseen movies will have a watched date of today so that it is easy to find and fix.'});
				</script>
			</div>
		</div>
	{% else %}
		{% if profile.id == request.session.auth_profile_id %}
			{% url "webapp.views.site.discovery" as discovery_url %}
			<big>No movies ranked. You should <a href="{{discovery_url}}">Find Movies</a> to populate this page.</big>
		{% else %}
			<big>No movies ranked.</big>
		{% endif %}
	{% endif %}
	
	{% include 'includes/footer.html' %}
</body>
</html>
