<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if error_msg %}
		{% for item in error_msg.items %}
			<div class="alert alert-error">
				{{item.0}}: {{item.1}}
			</div>
		{% endfor %}
	{% endif %}
	{% url "webapp.views.site.register" as register_url %}
	<form class="well" action="{{register_url}}{% if request.GET.redirect %}?redirect={{request.GET.redirect}}{% endif %}" method="post"> {% csrf_token %}
		<div class="row">
			<div class="span4 offset2">
				<label for="username">Username: </label>
				<div class="input-prepend">
					{% if profile and profile.Username %}
						<span class="add-on"><i class="icon-user"></i></span><input class="span3" type="text" name="username" id="username" value="{{profile.Username}}" autofocus="autofocus" />
					{% else %}
						<span class="add-on"><i class="icon-user"></i></span><input class="span3" type="text" name="username" id="username" autofocus="autofocus" />
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<label for="email">Email: </label>
				<div class="input-prepend">
					{% if profile and profile.Email %}
						<span class="add-on"><i class="icon-envelope"></i></span><input class="span3" type="email" name="email" id="email" value="{{profile.Email}}" />
					{% else %}
						<span class="add-on"><i class="icon-envelope"></i></span><input class="span3" type="email" name="email" id="email" />
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<label for="password">Password: </label>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span><input class="span3" type="password" name="password" id="password" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<label for="confirm_password">Confirm Password: </label>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span><input class="span3" type="password" name="confirm_password" id="confirm_password" />
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="span2 offset2">
				<input class="btn btn-large btn-block btn-success" type="submit" value="Register" />
			</div>
		</div>
		<br />
		<div class="row">
			<label class="checkbox span2 offset2">
				<input type="checkbox" name="remember_me" id="remember_me" value="remember_me"/> Remember Me
			</label>
		</div>
		<br />
		<div class="row">
			<div class="span4 offset2">
				{% url "webapp.views.profile.login" as login_url %}
				<p>Already have a profile? <a href="{{login_url}}{% if request.GET.redirect %}?redirect={{request.GET.redirect}}{% endif %}">Sign In</a></p>
			</div>
		</div>
	</form>
	{% include 'includes/footer.html' %}
</body>
</html>
