<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	<table class="table table-striped">
		<tr><th class="span8">#{{profiles.start_index}}{% if not profiles.start_index == profiles.end_index %}-{{profiles.end_index}}{%endif%} (of {{profiles.paginator.count}}) profiles</th></tr>
		{% for profile in profiles %}
			<tr>
				{% url webapp.views.profile.view username=profile.Username as profile_url %}
				<td><a href="{{ profile_url }}">{{profile.Username}}</a></td>
			</tr>
		{% endfor %}
	</table>
	{% url webapp.views.profile.view_list as profiles_url %}
	<div class="pagination">
		<ul>
			<li {% if not profiles.has_previous %} class="disabled" {% endif %}}><a href="{{profiles_url}}?page={{profiles.previous_page_number}}&length={{profiles.paginator.per_page}}">&lt;&lt;</a></li>
			<li class="active"><a href="{{profiles_url}}?page={{profiles.number}}&length={{profiles.paginator.per_page}}">{{profiles.number}}</a></li>
			<li{% if not profiles.has_next %} class="disabled" {% endif %}}><a href="{{profiles_url}}?page={{profiles.next_page_number}}&length={{profiles.paginator.per_page}}">&gt;&gt;</a></li>
		</ul>
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>
