	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				{% if request.session.auth_profile_username or request.session.auth_access or ENVIRONMENT == 'PRODUCTION' %}
					<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				{% endif %}
				{% url "webapp.views.site.access" as access_url %}
				<a class="brand" href="{{access_url}}">Pref</a>
				<div class="nav-collapse collapse" style="height: 0px;">
					{% if request.session.admin %}
						{% url "webapp.views.profile.view" username=request.session.auth_profile_username as profile_url %}
						<ul class="nav pull-left">
							{% url "webapp.views.profile.view_list" as profiles_url %}
							<li><a href="{{profiles_url}}">Profiles</a></li>
							{% url "webapp.views.movie.view_list" as movies_url %}
							<li><a href="{{movies_url}}">Movies</a></li>
							{% url "webapp.views.property.people" as people_url %}
							<li><a href="{{people_url}}">People</a></li>
							{% url "webapp.views.property.genres" as genres_url %}
							<li><a href="{{genres_url}}">Genres</a></li>
							<li><a href="{{movies_url}}?add=1">Add</a></li>
						</ul>
					{% elif request.session.auth_profile_username %}
						{% url "webapp.views.profile.view" username=request.session.auth_profile_username as profile_url %}
						<ul class="nav pull-left">
							{% url "webapp.views.site.discovery" as discovery_url %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									Find Movies
									 <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{discovery_url}}">Discovery</a></li>
									<li class="nav-header">By ...</li>
									{% url "webapp.views.profile.view_list" as profiles_url %}
									<li><a href="{{profiles_url}}">Profile</a></li>
									{% url "webapp.views.movie.view_list" as movies_url %}
									<li><a href="{{movies_url}}">Movie</a></li>
									{% url "webapp.views.property.people" as people_url %}
									<li><a href="{{people_url}}">Person</a></li>
									{% url "webapp.views.property.genres" as genres_url %}
									<li><a href="{{genres_url}}">Genre</a></li>
								</ul>
							</li>
							<li><a href="{{profile_url}}?movies=1">My Movies</a></li>
						</ul>
					{% endif %}
					{% if request.session.auth_profile_id %}
						{% url "webapp.views.movie.search" as search_url %}
						<form class="navbar-search form-search pull-left" action="{{search_url}}" method="get">
							<div class="input-append">
								{% if term %}
									<input type="text" class="search-query span4" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{header.search_list|join:'","'}}"]' name="t" id="t" value="{{term}}" />
								{% else %}
									<input type="text" class="search-query span4" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{header.search_list|join:'","'}}"]' name="t" id="t" placeholder="Search" />
								{% endif %}
								<button type="submit" class="btn"><i class="icon-search"></i></button>
							</div>
						</form>
					{% endif %}
					{% if request.session.auth_profile_username or request.session.auth_access or ENVIRONMENT == 'PRODUCTION'  %}
						<div class="btn-group pull-right">
							{% if request.session.auth_profile_username %}
								<a class="btn" href="{{profile_url}}">
									<i class="icon-user"></i> {{request.session.auth_profile_username}}
								</a>
							{% else %}
								{% url "webapp.views.profile.login" as login_url %}
								<a class="btn" href="{{login_url}}">
									<i class="icon-user"></i> Sign In
								</a>
							{% endif %}
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{% if request.session.auth_profile_username %}
									<li><a href="{{profile_url}}">Profile</a></li>
									<li><a href="{{profile_url}}?edit=1">Settings</a></li>
									<li class="divider"></li>
									{% url "webapp.views.profile.logout" as logout_url %}
									<li><a href="{{logout_url}}">Sign Out</a></li>
								{% else %}
									{% url "webapp.views.profile.login" as login_url %}
									<li><a href="{{login_url}}">Sign In</a></li>
									<li class="divider"></li>
									{% url "webapp.views.profile.register" as register_url %}
									<li><a href="{{register_url}}">Register</a></li>
							</ul>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
