<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if error_msg %}
		{% for item in error_msg.items %}
			<div class="alert alert-danger">
				{{item.0}}: {{item.1}}
			</div>
		{% endfor %}
	{% endif %}
	<div class="well">
		{% url webapp.views.movie.view_list as movies_url %}
		<form action="{{movies_url}}?add=1" method="post"> {% csrf_token %}
			<div class="row">
				<div class="span4 offset2">
					{% if api_search_term %}
						<input class="span3" type="text" name="api_search_term" id="api_search_term" value="{{api_search_term}}" />
					{% else %}
						<input class="span3" type="text" name="api_search_term" id="api_search_term" placeholder="Search Term" />
					{% endif %}
					<select class="span1" name="api_search_length" id="api_search_length">
						<option value="5">5</option>
						<option value="10" {% if api_search_length == 10 %}selected="selected"{%endif%}>10</option>
						<option value="15" {% if api_search_length == 15 %}selected="selected"{%endif%}>15</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="span4 offset4">
					<input class="span2 btn input-block-level" type="submit" value="Search APIs" />
				</div>
			</div>
		</form>
		<form action="{{movies_url}}?add=1" method="post"> {% csrf_token %}
			<div class="row">
				<div class="span4 offset2">
					<label for="imdb_url">IMDb URL or ID*: </label>
					{% if movie and movie.ImdbId %}
						<input class="input-block-level" type="text" name="imdb_url" id="imdb_url" value="{{links.imdb}}" />
					{% else %}
						<input class="input-block-level" type="text" name="imdb_url" id="imdb_url" />
					{% endif %}
				</div>
			</div>
			{% if imdb_possibilities %}
				<div class="row">
					<table class="table table-striped span4 offset2">
						{% for movie in imdb_possibilities %}
							<tr>
								<td style="text-align: center"><input type="radio" name="imdb_possibilities" value="{{movie.ImdbId}}" /></td>
								<td><a href="{{movie.UrlTitle}}" target="_blank">{{movie.Title}} ({{movie.Year}})</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			<div class="row">
				<div class="span4 offset2">
					<label for="netflix_url">Netflix URL or ID: </label>
					{% if movie and movie.NetflixId %}
						<input class="input-block-level" type="text" name="netflix_url" id="netflix_url" value="{{links.netflix}}" />
					{% else %}
						<input class="input-block-level" type="text" name="netflix_url" id="netflix_url" />
					{% endif %}
				</div>
			</div>
			{% if netflix_possibilities %}
				<div class="row">
					<table class="table table-striped span4 offset2">
						{% for movie in netflix_possibilities %}
							<tr>
								<td style="text-align: center"><input type="radio" name="netflix_possibilities" value="{{movie.NetflixId}}" /></td>
								<td><a href="{{movie.UrlTitle}}" target="_blank">{{movie.Title}} ({{movie.Year}})</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			<div class="row">
				<div class="span4 offset2">
					<label for="rottentomatoes_id">Rotten Tomatoes ID: </label>
					{% if movie and movie.RottentomatoesId %}
						<input class="input-block-level" type="text" name="rottentomatoes_id" id="rottentomatoes_id" value="{{links.rt}}" />
					{% else %}
						<input class="input-block-level" type="text" name="rottentomatoes_id" id="rottentomatoes_id" />
					{% endif %}
				</div>
			</div>
			{% if rottentomatoes_possibilities %}
				<div class="row">
					<table class="table table-striped span4 offset2">
						{% for movie in rottentomatoes_possibilities %}
							<tr>
								<td style="text-align: center"><input type="radio" name="rottentomatoes_possibilities" value="{{movie.RottenTomatoesId}}" /></td>
								<td><a href="{{movie.UrlTitle}}" target="_blank">{{movie.Title}} ({{movie.Year}})</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			<div class="row">
				<div class="span4 offset2">
					<label for="wikipedia_id">Wikipedia URL or ID: </label>
					{% if movie and movie.WikipediaId %}
						<input class="input-block-level" type="text" name="wikipedia_id" id="wikipedia_id" value="{{links.wikipedia}}" />
					{% else %}
						<input class="input-block-level" type="text" name="wikipedia_id" id="wikipedia_id" />
					{% endif %}
				</div>
			</div>
			{% if wikipedia_possibilities %}
				<div class="row">
					<table class="table table-striped span4 offset2">
						{% for movie in wikipedia_possibilities %}
							<tr>
								<td style="text-align: center"><input type="radio" name="wikipedia_possibilities" value="{{movie.WikipediaId}}" /></td>
								<td><a href="{{movie.UrlTitle}}" target="_blank">{{movie.WikipediaId}}</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			<div class="row">
				<div class="span1 offset2">
					<input class="btn btn-large btn-block btn-success" type="submit" value="Submit" />
				</div>
				<div class="span1 offset2">
					<a class="btn btn-large btn-block btn-danger" href="/">Cancel</a>
				</div>
			</div>
		</form>
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>
