<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if error_msg %}
		{% for item in error_msg.items %}
			<div class="alert alert-danger">
				{{item.0}}: {{item.1}}
			</div>
		{% endfor %}
	{% endif %}
	{% url webapp.views.movie.view_list as movies_url %}
	<form class="well" action="{{movies_url}}?add=1" method="post"> {% csrf_token %}
		<div class="row">
			<div class="span4 offset2">
				<label for="imdb_url">IMDb URL or ID*: </label>
				{% if movie and movie.ImdbId %}
					<input type="text" name="imdb_url" id="imdb_url" value="{{imdb_link}}" />
				{% else %}
					<input type="text" name="imdb_url" id="imdb_url" />
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<label for="netflix_url">Netflix URL or ID: </label>
				{% if movie and movie.NetflixId %}
					<input type="text" name="netflix_url" id="netflix_url" value="{{netflix_link}}" />
				{% else %}
					<input type="text" name="netflix_url" id="netflix_url" />
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<label for="rottentomatoes_id">Rotten Tomatoes ID: </label>
				{% if movie and movie.RottentomatoesId %}
					<input type="text" name="rottentomatoes_id" id="rottentomatoes_id" value="{{rt_link}}" />
				{% else %}
					<input type="text" name="rottentomatoes_id" id="rottentomatoes_id" />
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span1 offset2">
				<input class="btn btn-large btn-success" type="submit" value="Submit" />
			</div>
			<div class="span1 offset1">
				<a class="btn btn-large btn-danger" href="/">Cancel</a>
			</div>
		</div>
	</form>
	{% include 'includes/footer.html' %}
</body>
</html>
