<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% if movie %}
		{% include 'includes/header.html' %}
		{% if old_urltitle %}
			{% url "webapp.views.movie.view" urltitle=old_urltitle as movie_url %}
		{% else %}
			{% url "webapp.views.movie.view" urltitle=movie.UrlTitle as movie_url %}
		{% endif %}
		<ul class="nav nav-tabs">
			<li><a href="{{movie_url}}">View</a></li>
			<li class="active"><a href="{{movie_url}}?edit=1">Edit</a></li>
		</ul>
		{% if error_msg %}
			{% for item in error_msg.items %}
				<div class="alert alert-error">
					{{item.0}}: {{item.1}}
				</div>
			{% endfor %}
		{% endif %}
		<form class="well" action="{{movie_url}}?edit=1" method="post"> {% csrf_token %}
			<div class="row">
				<div class="span3 offset2">
					<label for="title">Title: </label>
					<input class="input-block-level" type="text" name="title" id="title" value="{{movie.Title}}" />
				</div>
				<div class="span1 offset1">
					<a class="btn btn-medium btn-danger" href="{{movie_url}}?delete=1" onclick="return confirmAction('Delete Movie?')">Delete</a>
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="year">Year: </label>
					<input class="input-block-level" type="text" name="year" id="year" value="{{movie.Year}}" />
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="runtime">Runtime: </label>
					<input class="input-block-level" type="text" name="runtime" id="runtime" value="{{movie.Runtime}}" />
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="imdb"><a href="{{links.imdb}}" target="_blank">IMDb: </a></label>
					<input class="input-block-level" type="text" name="imdb" id="imdb" value="{{movie.ImdbId}}" />
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="rottentomatoes"><a href="{{links.rt}}" target="_blank">Rotten Tomatoes: </a></label>
					<input class="input-block-level" type="text" name="rottentomatoes" id="rottentomatoes" value="{{movie.RottenTomatoesId}}" />
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="netflix"><a href="{{links.netflix}}" target="_blank">Netflix: </a></label>
					<input class="input-block-level" type="text" name="netflix" id="netflix" value="{{movie.NetflixId}}" />
				</div>
			</div>
			<div class="row">
				<div class="span3 offset2">
					<label for="wikipedia"><a href="{{links.wikipedia}}" target="_blank">Wikipedia: </a></label>
					<input class="input-block-level" type="text" name="wikipedia" id="wikipedia" value="{{movie.WikipediaId}}" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="span1 offset2">
					<input class="btn btn-large btn-block btn-success" type="submit" value="Save" />
				</div>
				<div class="span1 offset1">
					<a class="btn btn-large btn-block btn-danger" href="{{movie_url}}">Cancel</a>
				</div>
			</div>
		</form>
		<h2>Directors</h2>
		<ul id="directors-list">
			{% if directors %}
				{% for director in directors %}
					{% url "webapp.views.property.person" urlname=director.UrlName as director_url %}
					<li><a href="{{director_url}}">{{director.Name}}</a> - <a href="{{director_url}}?remove=1&i={{movie.UrlTitle}}&t=DIRECTOR&movie=1" onclick="return confirmAction('Remove Person?')">Remove</a> <a href="{{director_url}}?edit=1">Edit</a> <a href="{{director_url}}?delete=1" onclick="return confirmAction('Delete Person?')">Delete</a></li>
				{% endfor %}
			{% endif %}
			<form action="{{movie_url}}?add=1&t=DIRECTOR" method="POST"> {% csrf_token %}
				<li class="field">
					<input type="text" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{people_list|join:'","'}}"]' name="add" id="add" />
					<input class="btn" type="submit" value="Add" />
				</li>
			</form>
		</ul>
		<h2>Writers</h2>
		<ul id="writers-list">
			{% if writers %}
				{% for writer in writers %}
					{% url "webapp.views.property.person" urlname=writer.UrlName as writer_url %}
					<li><a href="{{writer_url}}">{{writer.Name}}</a> - <a href="{{writer_url}}?remove=1&i={{movie.UrlTitle}}&t=WRITER&movie=1" onclick="return confirmAction('Remove Person?')">Remove</a> <a href="{{writer_url}}?edit=1">Edit</a> <a href="{{writer_url}}?delete=1" onclick="return confirmAction('Delete Person?')">Delete</a></li>
				{% endfor %}
			{% endif %}
			<form action="{{movie_url}}?add=1&t=WRITER" method="POST"> {% csrf_token %}
				<li class="field">
					<input type="text" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{people_list|join:'","'}}"]' name="add" id="add" />
					<input class="btn" type="submit" value="Add" />
				</li>
			</form>
		</ul>
		<h2>Actors</h2>
		<ul id="actors-list">
			{% if actors %}
				{% for actor in actors %}
					{% url "webapp.views.property.person" urlname=actor.UrlName as actor_url %}
					<li><a href="{{actor_url}}">{{actor.Name}}</a> - <a href="{{actor_url}}?remove=1&i={{movie.UrlTitle}}&t=ACTOR&movie=1" onclick="return confirmAction('Remove Person?')">Remove</a> <a href="{{actor_url}}?edit=1">Edit</a> <a href="{{actor_url}}?delete=1" onclick="return confirmAction('Delete Person?')">Delete</a></li>
				{% endfor %}
			{% endif %}
			<form action="{{movie_url}}?add=1&t=ACTOR" method="POST"> {% csrf_token %}
				<li class="field">
					<input type="text" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{people_list|join:'","'}}"]' name="add" id="add" />
					<input class="btn" type="submit" value="Add" />
				</li>
			</form>
		</ul>
		<h2>Genres</h2>
		<ul id="genres-list">
			{% if genres %}
				{% for genre in genres %}
					{% url "webapp.views.property.genre" description=genre.Description as genre_url %}
					<li><a href="{{genre_url}}">{{genre.Description}}</a> - <a href="{{genre_url}}?remove=1&i={{movie.UrlTitle}}&movie=1" onclick="return confirmAction('Remove Genre?')">Remove</a> <a href="{{genre_url}}?edit=1">Edit</a> <a href="{{genre_url}}?delete=1" onclick="return confirmAction('Delete Genre?')">Delete</a></li>
				{% endfor %}
			{% endif %}
			<form action="{{movie_url}}?add=1&t=GENRE" method="POST"> {% csrf_token %}
				<li class="field">
					<input type="text" autocomplete="off" data-provide="typeahead" data-items="4" data-source='["{{genres_list|join:'","'}}"]' name="add" id="add" />
					<input class="btn" type="submit" value="Add" />
				</li>
			</form>
		</ul>
	{% else %}
		<div class="page-header">
			<h1>invalid person</h1>
		</div>
	{% endif %}
	{% if redirect %}
		<script language="javascript" type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('html,body').animate({scrollTop: jQuery('#{{redirect}}').offset().top});
			});
		</script>
	{% endif %}
	{% include 'includes/footer.html' %}
</body>
</html>
