<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if success %}
		<table class="table table-striped">
		{% url webapp.views.movie.view_list as movies_url %}
		{% for movie, associated, new in movies %}
			{% if forloop.first %}
				<tr>
					<th class="span5">{{movies|length}} Results</th>
					<th class="span1"></th>
					<th class="span2"></th>
				</tr>
			{% endif %}
			<tr>
				{% if new %}
					<td><a href="{{movie.UrlTitle}}" target="_blank">{{movie.Title}}</a></td>
				{% else %}
					{% url webapp.views.movie.view urltitle=movie.UrlTitle as movie_url %}
					<td><a href="{{movie_url}}">{{movie.Title}}</a></td>
				{% endif %}
				<td style="text-align: center">{{movie.Year}}</td>
				<td style="text-align: center">
					{% if associated %}
						<a class="btn btn-small btn-success" href="{{movie_url}}">Options</a>
					{% elif new %}
						{% if movie.NetflixId and movie.RottenTomatoesId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&n={{movie.NetflixId}}&r={{movie.RottenTomatoesId}}&seen=1">Seen</a>
						{% elif movie.NetflixId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&n={{movie.NetflixId}}&seen=1">Seen</a>
						{% elif movie.RottenTomatoesId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&r={{movie.RottenTomatoesId}}&seen=1">Seen</a>
						{% else %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&seen=1">Seen</a>
						{% endif %}
						&nbsp&nbsp&nbsp
						{% if movie.NetflixId and movie.RottenTomatoesId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&n={{movie.NetflixId}}&r={{movie.RottenTomatoesId}}">Want</a>
						{% elif movie.NetflixId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&n={{movie.NetflixId}}">Want</a>
						{% elif movie.RottenTomatoesId %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}&r={{movie.RottenTomatoesId}}">Want</a>
						{% else %}
							<a class="btn btn-small btn-warning" href="{{movies_url}}?add=1&i={{movie.ImdbId}}">Want</a>
						{% endif %}
					{% else %}
						<a class="btn btn-small btn-success" href="{{movie_url}}?assoc=1&add=1&seen=1">Seen</a>
						&nbsp&nbsp&nbsp
						<a class="btn btn-small btn-success" href="{{movie_url}}?assoc=1&add=1">Want</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		{% if length < 20 %}
			<a href="{{request.get_full_path}}&length={{length|add:3}}">+ More Results</a>
		{% endif %}
	{% else %}
		{% for item in results.items %}
			<div class="alert alert-error">
				{{item.1}}
			</div>
		{% endfor %}
	{% endif %}
	{% include 'includes/footer.html' %}
</body>
</html>
