<!DOCTYPE html>
<html lang="en">
{% load webapp_extras %}
{% include 'includes/head.html' with starbox='True' datepicker='True' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if movie %}
		{% url "webapp.views.movie.view" urltitle=movie.UrlTitle as movie_url %}
		{% if request.session.admin %}
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="{{movie_url}}">View</a>
				</li>
				<li><a href="{{movie_url}}?edit=1">Edit</a></li>
			</ul>
		{% endif %}
		<div class="row">
			<div class="span2">
				<h2>Information</h2>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="span3">
				{% if supplements.POSTER_HREF %}
					<img src="{{supplements.POSTER_HREF}}" style="align: center;" />
				{% endif %}
			</div>
			<div class="span5">
				<div>
					{% if not association %}
						<a class="btn btn-success" href="{{movie_url}}?assoc=1&add=1&seen=1">Seen</a>
						<a class="btn btn-success" href="{{movie_url}}?assoc=1&add=1">Want</a>
					{% endif %}
				</div>
				<div>
					{% if movie.Runtime %}
						{{movie.Runtime}} min
					{% endif %}
					{% if genres %}
						{% for genre in genres %}
							{% url "webapp.views.property.genre" description=genre.Description as genre_url %}
							<a href="{{genre_url}}">{{genre.Description}}</a>
							{% if not forloop.last %}
								 | 
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<div>
				{% if directors %}
					Directed By: 
					{% for director in directors %}
						{% url "webapp.views.property.person" urlname=director.UrlName as director_url %}
						<a href="{{director_url}}">{{director.Name}}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% endif %}
				</div>
				<div>
					{% if writers %}
						Writen By: 
						{% for writer in writers %}
							{% url "webapp.views.property.person" urlname=writer.UrlName as writer_url %}
							<a href="{{writer_url}}">{{writer.Name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<div>
					{% if actors %}
						Cast: 
						{% for actor in actors %}
							{% url "webapp.views.property.person" urlname=actor.UrlName as actor_url %}
							<a href="{{actor_url}}">{{actor.Name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<div>
					{% if movie.ImdbId %}
						<a href="{{links.imdb}}" target="_blank" title="IMDb"><img src="{{STATIC_URL}}img/ico/imdb.jpg" /></a>
					{% endif %}
					{% if movie.WikipediaId %}
						<a href="{{links.wikipedia}}" target="_blank" title="Wikipedia"><img src="{{STATIC_URL}}img/ico/wikipedia.jpg" /></a>
					{% endif %}
				</div>
				{% if movie.NetflixId %}
					{% if availability.DVD %}
						<a id="disc_add" class="bt-popover btn btn-danger" href="javascript:void(0)" onclick="javascript:nflx.addToQueue('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null, 'disc', 'disc_add');">Add</a>
						<script type="text/javascript">
							jQuery("#disc_add").popover({placement: 'top', trigger: 'hover', title: 'Add to Queue', content: 'Add DVD of this movie to your Netflix queue.'});
						</script>
					{% endif %}
					{% if availability.INSTANT %}
						<a id="instant_add" class="bt-popover btn btn-primary" href="javascript:void(0)" onclick="javascript:nflx.addToQueue('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null, 'instant', 'instant_add');">Add</a>
						<script type="text/javascript">
							jQuery("#instant_add").popover({placement: 'top', trigger: 'hover', title: 'Add Movie', content: 'Watch this movie later on Netflix.'});
						</script>
						<a id="instant_play" class="bt-popover btn btn-primary" href="javascript:void(0)" onclick="javascript:nflx.openPlayer('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null);">Play</a>
						<script type="text/javascript">
							jQuery("#instant_play").popover({placement: 'top', trigger: 'hover', title: 'Play Movie', content: 'Watch this movie now on Netflix.'});
						</script>
					{% endif %}
					<a href="{{links.netflix}}" target="_blank" title="Netflix"><img src="{{STATIC_URL}}img/ico/netflix.jpg" /></a>
				{% endif %}
			</div>
		</div>
		<br />
		{% if movie.RottenTomatoesId %}
			<div class="row">
				<div class="tabbable span5 offset2">
					<ul class="nav nav-tabs">
						{% if supplements.CRITICS_RATING and supplements.CRITICS_SCORE %}
							<li class="active"><a href="#critics" data-toggle="tab">Critics</a></li>
							{% if supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
								<li><a href="#audience" data-toggle="tab">Audience</a></li>
							{% endif %}
						{% elif supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
							<li class="active"><a href="#audience" data-toggle="tab">Audience</a></li>
						{% else %}
							<li class="active"><a href="#rt" data-toggle="tab">Rotten Tomatoes</a></li>
						{% endif %}
					</ul>
					<div class="tab-content" style="border-bottom: 1px solid #DDDDDD;">
						{% if supplements.CRITICS_RATING and supplements.CRITICS_SCORE %}
							<div class="tab-pane active" id="critics">
								<div class>
									<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.CRITICS_RATING}}" /></a>
									<h1 style="display: inline;">&nbsp{{supplements.CRITICS_SCORE}}%</h1>
								</div>
								<div class="progress progress-striped">
									{% if supplements.CRITICS_SCORE >= 60 %}
										<div class="bar bar-danger" style="width: {{supplements.CRITICS_SCORE}}%;"></div>
									{% else %}
										<div class="bar bar-success" style="width: {{supplements.CRITICS_SCORE}}%;"></div>
									{% endif %}
								</div>
								{% if supplements.CONSENSUS %}
									<p>{{supplements.CONSENSUS}}</p>
								{% endif %}
							</div>
							{% if supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
								<div class="tab-pane" id="audience">
									<div>
										<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.AUDIENCE_RATING}}" /></a>
										<h1 style="display: inline;">&nbsp{{supplements.AUDIENCE_SCORE}}%</h1>
									</div>
									<div class="progress progress-striped">
										{% if supplements.AUDIENCE_SCORE >= 60 %}
											<div class="bar bar-danger" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
										{% else %}
											<div class="bar bar-success" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% elif supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
							<div class="tab-pane active" id="audience">
								<div>
									<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.AUDIENCE_RATING}}" /></a>
									<h1 style="display: inline;">&nbsp{{supplements.AUDIENCE_SCORE}}%</h1>
								</div>
								<div class="progress progress-striped">
									{% if supplements.AUDIENCE_SCORE >= 60 %}
										<div class="bar bar-danger" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
									{% else %}
										<div class="bar bar-success" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
									{% endif %}
								</div>
							</div>
						{% else %}
							<div class="tab-pane active" id="rt">
								<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/ico/rotten_tomatoes.jpg" /></a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
		{% if association and profile %}
			<div class="well">
				<div class="row">
					<div class="span2">
						<h2>Thoughts</h2>
					</div>
					<div class="span1">
						<a class="btn btn-block btn-danger" href="{{movie_url}}?assoc=1&remove=1">Remove</a>
					</div>
					<div class="span2">
						<a class="btn btn-block btn-success" href="{{movie_url}}?assoc=1&recent=1">Watched Today</a>
					</div>
					<div class="span1 offset1">
						{% if association.Consumed and association.Rank %}
							<a id="rerank_btn" class="bt-popover btn btn-large btn-block btn-primary" href="{{movie_url}}?rerank=1" onclick="return confirmAction('Movie unranked before reranking! Do not stop before completing ranking or movie will no longer appear ranked. Continue?')">{{association.Rank}}</a>
							<script type="text/javascript">
								jQuery("#rerank_btn").popover({placement: 'top', trigger: 'hover', title: 'RERANK', content: 'Rethink movie\'s position in your rankings.'});
							</script>
						{% elif association.Consumed %}
							<a id="rank_btn" class="bt-popover btn btn-large btn-block btn-primary" href="{{movie_url}}?rank=1">-</a>
							<script type="text/javascript">
								jQuery("#rank_btn").popover({placement: 'top', trigger: 'hover', title: 'RANK', content: 'View movie in the context of others that you have watched.'});
							</script>
						{% endif %}
					</div>
				</div>
				<br />
				<form action="{{movie_url}}?assoc=1&update=1" method="post"> {% csrf_token %}
					{% if association.Consumed %}
						<div class="row">
							<div class="span3">
								First Viewed On: <input type="text" class="input-small datepicker" name="first_viewed" id="first_viewed" value="{{association.CreatedAt.month}}/{{association.CreatedAt.day}}/{{association.CreatedAt.year}}" />
							</div>
							<div class="span3">
								Last Viewed On: <input type="text" class="input-small datepicker" name="last_viewed" id="last_viewed" value="{{association.UpdatedAt.month}}/{{association.UpdatedAt.day}}/{{association.UpdatedAt.year}}" />
							</div>
						</div>
						<br />
					{% endif %}
					<div class="row">
						<div class="span2">
							{% if association.Consumed %}
								<input type="checkbox" name="watched" id="watched" value="Watched" checked /> Watched
							{% else %}
								<input type="checkbox" name="watched" id="watched" value="Watched" /> Watched
							{% endif %}
						</div>
						<div class="span2">
							{% if association.Accessible %}
								<input type="checkbox" name="accessible" id="accessible" value="Accessible" checked /> Accessible
							{% else %}
								<input type="checkbox" name="accessible" id="accessible" value="Accessible" /> Accessible
							{% endif %}
						</div>
						{% if association.Accessible %}
							{% if association.SourceId %}
								<input type="text" autocomplete="off" data-provide="typeahead" data-items="2" data-source='["{{sources|join:'","'}}"]' name="source" id="source" value="{{association.SourceId.Description}}" />
								<input type="checkbox" name="update_all_sources" id="update_all_sources" value="Update_All" /> Update All
							{% else %}
								<input type="text" autocomplete="off" data-provide="typeahead" data-items="2" data-source='["{{sources|join:'","'}}"]' name="source" id="source" placeholder="Source" />
							{% endif %}
						{% endif %}
					</div>
					<br />
					{% if association.Consumed %}
						<div class="row">
							<div class="span2">
								{% if not association.Rating %}
									<div>
										Unrated (zero invalid):
									</div>
								{% endif %}
								<div id='rating'><img src='{{STATIC_URL}}img/loading.gif' alt='' /></div>
								<script language="javascript" type='text/javascript'>
									new Starbox('rating', {{association.Rating|default:"0"}}, {buttons: {{profile.NumberOfStars|multiply:profile.SubStars}}, color: '#FFD700', duration: 0.3, hoverColor: '#00BFFF', ghostColor: '#FFD700', ghosting: true, indicator: 'Rating: #{average}/#{max}', max: {{profile.NumberOfStars}}, rerate: true, rated: {{association.Rating|default:"false"}}, overlay: {% if profile.StarImage == 0 %} 'big.png' {% else %} 'default.png' {% endif %}, stars: {{profile.NumberOfStars}}, total: {% if association.Rating %} 1 {% else %} 0 {% endif %}});
								</script>
							</div>
							<div class="span5">
								{% if association.Review %}
									<textarea class="field span5" name="review" rows="4">{{association.Review}}</textarea>
								{% else %}
									<textarea class="field span5" name="review" rows="4" placeholder="Review"></textarea>
								{% endif %}
							</div>
						</div>
						<br />
					{% endif %}
					<div class="row">
						<div class="span1 offset6">
							<input type="submit" class="btn btn-large btn-block btn-success" name="save" id="save" value="Save" />
						</div>
					</div>
				</form>
			</div>
		{% endif %}
		<br />
		<div class="row">
			<div class="span4">
				<a href="{{movie_url}}?suggestion=1">Suggestion/Comment/Correction</a>
			</div>
		</div>
		{% if DISQUS_SHORTNAME %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = '{{DISQUS_SHORTNAME}}';
				var disqus_identifier = '{{header.header_text}}';
				var disqus_title = '{{header.header_text}}';
				var disqus_url = '{{request.get_full_path}}';
				(function() {
				    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %}
	{% else %}
		<div class="page-header">
			<h1>invalid movie</h1>
		</div>
	{% endif %}
	{% include 'includes/footer.html' with starbox='True' datepicker='True' %}
</body>
</html>
