<!DOCTYPE html>
<html lang="en">
{% load webapp_extras %}
{% include 'includes/head.html' with static='starbox' %}
<body>
	{% include 'includes/navbar.html' %}
	{% include 'includes/header.html' %}
	{% if movie %}
		{% url webapp.views.movie.view urltitle=movie.UrlTitle as movie_url %}
		{% if request.session.admin %}
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="{{movie_url}}">View</a>
				</li>
				<li><a href="{{movie_url}}?edit=1">Edit</a></li>
			</ul>
		{% endif %}
		<div class="row">
			<div class="span2">
				<h2>Information</h2>
			</div>
			{% if not association %}
				<div class="span1">
					<a class="btn btn-success" href="{{movie_url}}?assoc=1&add=1&seen=1">Seen</a>
				</div>
				<div class="span1">
					<a class="btn btn-success" href="{{movie_url}}?assoc=1&add=1">Want</a>
				</div>
				{% if movie.ImdbId %}
					<div class="span1">
						<a href="{{links.imdb}}" target="_blank" title="IMDb"><img src="{{STATIC_URL}}img/ico/imdb.jpg" /></a>
					</div>
				{% endif %}
				{% if movie.WikipediaId %}
					<div class="span1">
						<a href="{{links.wikipedia}}" target="_blank" title="Wikipedia"><img src="{{STATIC_URL}}img/ico/wikipedia.jpg" /></a>
					</div>
				{% endif %}
			{% else %}
				{% if movie.ImdbId %}
					<div class="span1 offset3">
						<a href="{{links.imdb}}" target="_blank" title="IMDb"><img src="{{STATIC_URL}}img/ico/imdb.jpg" /></a>
					</div>
				{% endif %}
				{% if movie.WikipediaId %}
					{% if movie.ImdbId %}
						<div class="span1">
					{% else %}
						<div class="span1 offset3">
					{% endif %}
						<a href="{{links.wikipedia}}" target="_blank" title="Wikipedia"><img src="{{STATIC_URL}}img/ico/wikipedia.jpg" /></a>
					</div>
				{% endif %}
			{% endif %}
		</div>
		<br />
		{% if supplements.POSTER_HREF %}
			<img src="{{supplements.POSTER_HREF}}" style="float: left;" />
		{% endif %}
		<div class="row" style="float: left;">
			<div class="span1 offset1">
			{% if movie.Runtime %}
				{{movie.Runtime}} min
			{% endif %}
			</div>
			<div class="span4">
			{% if genres %}
				{% for genre in genres %}
					{% url webapp.views.property.genre description=genre.Description as genre_url %}
					<a href="{{genre_url}}">{{genre.Description}}</a>
					{% if not forloop.last %}
						 | 
					{% endif %}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<br /><br />
		<div class="row" style="float: left;">
			<div class="span4 offset1">
			{% if directors %}
				Directed By: 
				{% for director in directors %}
					{% url webapp.views.property.person urlname=director.UrlName as director_url %}
					<a href="{{director_url}}">{{director.Name}}</a>
					{% if not forloop.last %}
						,
					{% endif %}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<br /><br />
		<div class="row" style="float: left;">
			<div class="span4 offset1">
				{% if writers %}
					Writen By: 
					{% for writer in writers %}
						{% url webapp.views.property.person urlname=writer.UrlName as writer_url %}
						<a href="{{writer_url}}">{{writer.Name}}</a>
						{% if not forloop.last %}
							,
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<br /><br />
		<div class="row" style="float: left;">
			<div class="span5 offset1">
				{% if actors %}
					Cast: 
					{% for actor in actors %}
						{% url webapp.views.property.person urlname=actor.UrlName as actor_url %}
						<a href="{{actor_url}}">{{actor.Name}}</a>
						{% if not forloop.last %}
							,
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<br /><br />
		{% if movie.RottenTomatoesId %}
			<div class="row" style="float: left;">
				<div class="tabbable span5 offset1">
					<ul class="nav nav-tabs">
						{% if supplements.CRITICS_RATING and supplements.CRITICS_SCORE %}
							<li class="active"><a href="#critics" data-toggle="tab">Critics</a></li>
							{% if supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
								<li><a href="#audience" data-toggle="tab">Audience</a></li>
							{% endif %}
						{% elif supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
							<li class="active"><a href="#audience" data-toggle="tab">Audience</a></li>
						{% else %}
							<li class="active"><a href="#rt" data-toggle="tab">Rotten Tomatoes</a></li>
						{% endif %}
					</ul>
					<div class="tab-content" style="border-bottom: 1px solid #DDDDDD;">
						{% if supplements.CRITICS_RATING and supplements.CRITICS_SCORE %}
							<div class="tab-pane active" id="critics">
								<div class="span2">
									<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.CRITICS_RATING}}" /></a>
									<h1 style="display: inline;">&nbsp{{supplements.CRITICS_SCORE}}%</h1>
								</div>
								<div class="progress progress-striped span2">
									{% if supplements.CRITICS_SCORE >= 60 %}
										<div class="bar bar-danger" style="width: {{supplements.CRITICS_SCORE}}%;"></div>
									{% else %}
										<div class="bar bar-success" style="width: {{supplements.CRITICS_SCORE}}%;"></div>
									{% endif %}
								</div>
								{% if supplements.CONSENSUS %}
									<br /><br /><br />
									<p>{{supplements.CONSENSUS}}</p>
								{% endif %}
							</div>
							{% if supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
								<div class="tab-pane" id="audience">
									<div class="span2">
										<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.AUDIENCE_RATING}}" /></a>
										<h1 style="display: inline;">&nbsp{{supplements.AUDIENCE_SCORE}}%</h1>
									</div>
									<div class="progress progress-striped span2">
										{% if supplements.AUDIENCE_SCORE >= 60 %}
											<div class="bar bar-danger" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
										{% else %}
											<div class="bar bar-success" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
										{% endif %}
									</div>
									<br /><br /><br />
								</div>
							{% endif %}
						{% elif supplements.AUDIENCE_RATING and supplements.AUDIENCE_SCORE %}
							<div class="tab-pane active" id="audience">
								<div class="span2">
									<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/rt/{{supplements.AUDIENCE_RATING}}" /></a>
									<h1 style="display: inline;">&nbsp{{supplements.AUDIENCE_SCORE}}%</h1>
								</div>
								<div class="progress progress-striped span2">
									{% if supplements.AUDIENCE_SCORE >= 60 %}
										<div class="bar bar-danger" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
									{% else %}
										<div class="bar bar-success" style="width: {{supplements.AUDIENCE_SCORE}}%;"></div>
									{% endif %}
								</div>
								<br /><br /><br />
							</div>
						{% else %}
							<div class="tab-pane" id="rt">
								<a href="{{links.rt}}" target="_blank" title="Rotten Tomatoes"><img src="{{STATIC_URL}}img/ico/rotten_tomatoes.jpg" /></a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<br /><br /><br /><br /><br /><br /><br /><br /><br />
		{% endif %}
		<br /><br />
		{% if movie.NetflixId %}
			<div class="row" style="margin: 0; border-bottom: 1px solid #DDDDDD;">
				{% if availability.DVD %}
					<a id="disc_add" class="btn btn-danger" href="javascript:void(0)" onclick="javascript:nflx.addToQueue('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null, 'disc', 'disc_add');" style="float: right; margin-right: 60px;">Add to Queue</a>
					<script type="text/javascript">
						jQuery("#disc_add").popover({placement: 'top', trigger: 'hover', title: 'Add to Queue', content: 'Add DVD of this movie to your Netflix queue.'});
					</script>
				{% endif %}
				{% if availability.INSTANT %}
					<a id="instant_add" class="btn btn-primary" href="javascript:void(0)" onclick="javascript:nflx.addToQueue('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null, 'instant', 'instant_add');" style="float: right; margin-right: 20px;">Add</a>
					<script type="text/javascript">
						jQuery("#instant_add").popover({placement: 'top', trigger: 'hover', title: 'Add Movie', content: 'Watch this movie later on Netflix.'});
					</script>
					<a id="instant_play" class="btn btn-primary" href="javascript:void(0)" onclick="javascript:nflx.openPlayer('http://api.netflix.com/catalog/movie/{{movie.NetflixId}}', 0, 0, null);" style="float: right; margin-right: 20px;">Play</a>
					<script type="text/javascript">
						jQuery("#instant_play").popover({placement: 'top', trigger: 'hover', title: 'Play Movie', content: 'Watch this movie now on Netflix.'});
					</script>
				{% endif %}
				<a href="{{links.netflix}}" target="_blank" title="Netflix" style="float: right; margin-right: 20px;"><img src="{{STATIC_URL}}img/ico/netflix.jpg" /></a>
				<br /><br /><br />
			
			</div>
			<br /><br />
		{% endif %}
		{% if association and profile %}
			<div class="well">
				<div class="row">
					<div class="span2">
						<h2>Thoughts</h2>
					</div>
					<div class="span1">
						<a class="btn btn-danger" href="{{movie_url}}?assoc=1&remove=1">Remove</a>
					</div>
					<div class="span3">
						<a class="btn btn-success" href="{{movie_url}}?assoc=1&recent=1">Watched Today</a>
					</div>
					<div class="span1">
						{% if association.Consumed and association.Rank %}
							<a id="rerank_btn" class="btn btn-large btn-primary" href="{{movie_url}}?rerank=1" onclick="return confirmAction('Movie unranked before reranking! Do not stop before completing ranking or movie will no longer appear ranked. Continue?')">{{association.Rank}}</a>
							<script type="text/javascript">
								jQuery("#rerank_btn").popover({placement: 'top', trigger: 'hover', title: 'RERANK', content: 'Rethink movie\'s position in your rankings.'});
							</script>
						{% elif association.Consumed %}
							<a id="rank_btn" class="btn btn-large btn-primary" href="{{movie_url}}?rank=1">-</a>
							<script type="text/javascript">
								jQuery("#rank_btn").popover({placement: 'top', trigger: 'hover', title: 'RANK', content: 'View movie in the context of others that you have watched.'});
							</script>
						{% endif %}
					</div>
				</div>
				<br />
				<form action="{{movie_url}}?assoc=1&update=1" method="post"> {% csrf_token %}
					{% if association.Consumed %}
						<div class="row">
							<div class="span3">
								First Viewed On: <input type="text" class="input-small tcal" name="first_viewed" id="first_viewed" value="{{association.CreatedAt.month}}/{{association.CreatedAt.day}}/{{association.CreatedAt.year}}" />
							</div>
							<div class="span3">
								Last Viewed On: <input type="text" class="input-small tcal" name="last_viewed" id="last_viewed" value="{{association.UpdatedAt.month}}/{{association.UpdatedAt.day}}/{{association.UpdatedAt.year}}" />
							</div>
						</div>
						<br />
					{% endif %}
					<div class="row">
						<div class="span2">
							{% if association.Consumed %}
								<input type="checkbox" name="watched" id="watched" value="Watched" checked /> Watched
							{% else %}
								<input type="checkbox" name="watched" id="watched" value="Watched" /> Watched
							{% endif %}
						</div>
						<div class="span2">
							{% if association.Accessible %}
								<input type="checkbox" name="accessible" id="accessible" value="Accessible" checked /> Accessible
							{% else %}
								<input type="checkbox" name="accessible" id="accessible" value="Accessible" /> Accessible
							{% endif %}
						</div>
						{% if association.Accessible %}
							{% if association.SourceId %}
								<input type="text" autocomplete="off" data-provide="typeahead" data-items="2" data-source='["{{sources|join:'","'}}"]' name="source" id="source" value="{{association.SourceId.Description}}" />
							{% else %}
								<input type="text" autocomplete="off" data-provide="typeahead" data-items="2" data-source='["{{sources|join:'","'}}"]' name="source" id="source" placeholder="Source" />
							{% endif %}
						{% endif %}
					</div>
					<br />
					{% if association.Consumed %}
						<div class="row">
							<div class="span2">
								{% if not association.Rating %}
									<div>
										Unrated (zero invalid):
									</div>
								{% endif %}
								<div id='rating'><img src='{{STATIC_URL}}img/loading.gif' alt='' /></div>
								<script language="javascript" type='text/javascript'>
									new Starbox('rating', {{association.Rating|default:"0"}}, {buttons: {{profile.NumberOfStars|multiply:profile.SubStars}}, color: '#FFD700', duration: 0.3, hoverColor: '#00BFFF', ghostColor: '#FFD700', ghosting: true, indicator: 'Rating: #{average}/#{max}', max: {{profile.NumberOfStars}}, rerate: true, rated: {{association.Rating|default:"false"}}, overlay: {% if profile.StarImage == 0 %} 'big.png' {% else %} 'default.png' {% endif %}, stars: {{profile.NumberOfStars}}, total: {% if association.Rating %} 1 {% else %} 0 {% endif %}});
								</script>
							</div>
							<div class="span5">
								{% if association.Review %}
									<textarea class="field span5" name="review" rows="4">{{association.Review}}</textarea>
								{% else %}
									<textarea class="field span5" name="review" rows="4" placeholder="Review"></textarea>
								{% endif %}
							</div>
						</div>
						<br />
					{% endif %}
					<div class="row">
						<div class="span1 offset6">
							<input type="submit" class="btn btn-large btn-success" name="save" id="save" value="Save" />
						</div>
					</div>
				</form>
			</div>
		{% endif %}
		<div class="row">
			<div class="span4">
				<a href="{{movie_url}}?suggestion=1">Suggestion/Comment/Correction</a>
			</div>
		</div>
	{% else %}
		<div class="page-header">
			<h1>invalid movie</h1>
		</div>
	{% endif %}
	{% include 'includes/footer.html' with static='starbox' %}
</body>
</html>
